.auth__container {
  align-items: center;
  background-image: url(/svgs/auth-page-background.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  display: flex;
  height: calc(100vh - 4.15rem);
  justify-content: center;
  padding: 0 1rem;
}

.auth__modal {
  background-color: #fff;
  border-color: 1px solid #c4c4c440;
  border-radius: 0.5rem;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  max-width: 40rem;
  width: 100%;
}

@media (min-width: 640px) {
  .auth__container {
    padding: 0 1.5rem;
  }
}

@media (min-width: 1024px) {
  .auth__container {
    padding: 0 2rem;
  }
}
